{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="form-container" style="display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 80vh;">
    <h2 style="text-align: center; margin-bottom: 20px;">Crear Solicitud</h2>
    <form method="post" style="width: 100%; max-width: 500px;">
      {% csrf_token %}
      {{ form|crispy }}
      <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-success" style="font-family: 'Verdana', sans-serif; background-color: orange; color: white; border: none; ">
          Enviar
        </button>
        <button onclick="history.back()" class="btn btn-secondary" style="font-family: 'Verdana', sans-serif;">Volver</button>

      </div>
    </form>
  </div>
{% endblock %}